<%= error_messages_for 'rehab_day' %>

<!--[form:rehab_day]-->
<p><label for="rehab_day_year">Year</label><br/>
<%= text_field 'rehab_day', 'year'  %></p>

<p><label for="rehab_day_month">Month</label><br/>
<%= text_field 'rehab_day', 'month'  %></p>

<p><label for="rehab_day_day_of_month">Day of month</label><br/>
<%= text_field 'rehab_day', 'day_of_month'  %></p>
<!--[eoform:rehab_day]-->

