<%= error_messages_for 'schedule' %>

<!--[form:schedule]-->
<p><label for="schedule_minutes">Minutes</label><br/>
<%= text_field 'schedule', 'minutes'  %></p>

<p><label for="schedule_minutes_done">Minutes done</label><br/>
<%= text_field 'schedule', 'minutes_done'  %></p>
<!--[eoform:schedule]-->

