<% for column in Therapist.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @therapist.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @therapist %> |
<%= link_to 'Back', :action => 'list' %>
